<!-- app/components/button_component.html.erb -->
<% if @url.present? %>
  <%= link_to @text, @url, class: button_classes, method: @method %>
<% else %>
  <button type="submit" class="<%= button_classes %>">
    <%= @text %>
  </button>
<% end %>
